
body {
	font-family: helvetica, arial, sans-serif;
}

h1 {
	color: #6b70fa;
	text-align: center;
}

#left-container {
	left: 0px;
}

#right-container {
	right: 0px;
}

.container {
	background-color: #eee;
	width: 15%;
	top: 20px;
	position: absolute;
	height: 100%;
	padding: 10px;
}

.flo-wer {
	position: relative;
	height: 13%;
	left: -10px;
}

.flower {
	position: absolute;
	max-width: 200%;
	max-height: 200%;
	z-index: 2;
}

.jar-walls {
	height: 60%;
	width: 60%;
	background: #5bd9f6;
	border-radius: 1rem;
	position: absolute;
	bottom: 0.5%;
	left: 20%;
	opacity: 0.3;
	z-index: 1;
}




.dirt {
	width: 60%;
	height: 4%;
	background: #032911;
	position: absolute;
	border-radius: 0 0 1rem 1rem;
	bottom: 1%;
	left: 20%;
	opacity: 1.0;
	z-index: -1;
}


